.custom-textarea {
  border: 1px solid #07877b;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  padding: 8px 10px;
  width: 300px;
  box-sizing: border-box;
}

.custom-textarea::placeholder {
  color: #a5a5a5;
}

.custom-textarea:focus {
  border-color: #07877b;
}

.custom-textarea.error {
  border-color: red;
}

.textarea-label {
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 2px;
  display: block;
}
